<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<% preact.headEnd %>
	</head>
	<body>
		<h1>The quick brown fox jumps over the lazy dog.</h1>
		<h2>The quick brown fox jumps over the lazy dog.</h1>
		<h3>The quick brown fox jumps over the lazy dog.</h1>
		<h4>The quick brown fox jumps over the lazy dog.</h1>
		<button>Hello World</button>
		<div data-widget-host="habitat" class="preview">
			<script type="text/props">
			  { "color": "red"}
			</script>
		</div>
		<% preact.bodyEnd %>
	</body>
</html>
