.new-comment {
	display: grid;
	grid-template-rows: minmax(60px, 1fr) auto;
	background-color: #fff;
	border: 1px solid rgb(207, 207, 207)
}

.new-comment > .input {
	padding: 5px;
	border-bottom: 1px solid rgb(207, 207, 207)
}

.new-comment > .input > textarea {
	box-sizing: border-box;
	min-width: 100%;
	min-height: 100%;
	resize: vertical;
}

.new-comment > .action-bar {
	margin-left: auto;
	padding: 5px;
	display: flex;
	align-items: center;
	column-gap: 10px;
}


.comment {
	display: grid;
	grid-template-rows: [title] 15px [replyto] auto [content] 1fr [attachments] auto 5px;
	row-gap: 15px;
	padding: 5px;
	font-family: var(--font-sans);
	font-size: 0.9rem;
	border-bottom: 1px solid rgb(207, 207, 207);
}

.comment > .title {
	display: flex;
	column-gap: 20px;
	align-items: center;
}

.comment > .content {
	grid-row-start: content;
}

.username {
	font-family: var(--font-sans-serif);
	font-weight: 600;
}

.time {
	font-size: 11px;
}

.replies-link {
	cursor: pointer;
    font-size: 12px;
    color: blue;
    display: flex;
    align-items: center;
}

.replies-link > svg {
	fill: blue;
	margin-top: 1px;
}

.attachments {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;

}

.chip {
	height: 16px;
	display: flex;
	align-items: center;
	column-gap: 4px;
	width: fit-content;
	border-radius: 5px;
	font-size: 12px;
	padding: 5px;
	background-color: rgba(88, 228, 88, 0.247);
	color: rgb(14, 131, 53);
}

.chip > .icon-sm {
	fill: rgb(14, 131, 53);
	height: 14px;
	width: 14px;
}


.reply-to {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	padding: 5px;
	flex-wrap: nowrap;
	border-left: 4px solid var(--primary);
	border-radius: 5px;
}

.reply-to-heading {
	display: flex;
	align-items: center;
	column-gap: 5px;
	color: var(--primary);
	font-size: 0.8rem;
}

.reply-to-content {
	color: #4b4b4b
}
